.alertBox {
   border: 1pt solid #737373;
   background-color: white;
   position: fixed;
   top: 5em!important;
   left: 25%;
   max-height: 85%;
   width: 50%;
   padding: 20px;
   overflow-y: auto;
}

::-webkit-scrollbar {
   width: 0px;
   background: transparent;
}

.modal {}
